<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        W3D6 Q3_4
    </title>
</head>

<body>
        <ul>
            <% for (let i=0; i < products.length; i++) { %>
                <li>Name: <%= products[i].name %>,
                        Price: <%= products[i].price %>,
                            Quantity: <%= products[i].quantity %>
                                <% } %>
                </li>
        </ul>

</body>

</html>