body{
    background-color: white;
    background-image: url("recipeImages/silverware.jpg");
    background-attachment: fixed;
}

.title{
 background-color: #F0F0F0;
 color: #A4A400;
 text-align: left;
 font-family: Sans Unicode, Helvetica, Arial;
 font-size: 18pt;
 text-decoration: underline;
 padding: 15px;
 letter-spacing: 0.25em;

}
#firstTitle{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;

}
.content{
    font-family: Georgia,Garamond;
    font-size: 11pt;
}
.comment{
    background-color: #FFFFA8;
    font-style: italic;
}
#strike{
    text-decoration: line-through;
}

a{
    color: #A4A400;
}
#copyright{
    font-family: monospace;
    text-align: right;
}
ul.pieBullet{
    list-style-image: url(recipeImages/pie_icon.gif);
   
}